<?xml version="1.0" encoding="utf-8"?><!--
  ~ Created by Tomasz Kiljanczyk on 4/4/21 11:51 PM
  ~ Copyright (c) 2021 . All rights reserved.
  ~ Last modified 4/4/21 11:01 PM
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.gunock.lyriccast">

    <!--  WiFi permissions  -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!--  File permissions  -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".LyricCastApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_lyriccast"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_lyriccast_round"
        android:theme="@style/Theme.LyricCast.Light.DarkActionBar">

        <activity
            android:name=".activities.LaunchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LyricCast.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LyricCast.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".activities.SetlistEditorActivity"
            android:label="@string/label_setlist_editor"
            android:parentActivityName="pl.gunock.lyriccast.activities.SetlistEditorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LyricCast.Light.NoActionBar" />

        <activity
            android:name=".activities.SongEditorActivity"
            android:label="@string/label_song_editor"
            android:parentActivityName="pl.gunock.lyriccast.activities.SongEditorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LyricCast.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".activities.SongControlsActivity"
            android:label="@string/label_controls"
            android:parentActivityName="pl.gunock.lyriccast.activities.SongControlsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LyricCast.Light.NoActionBar" />

        <activity
            android:name=".activities.SetlistControlsActivity"
            android:label="@string/label_controls"
            android:parentActivityName="pl.gunock.lyriccast.activities.SetlistControlsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LyricCast.Light.NoActionBar" />

        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/label_settings"
            android:parentActivityName="pl.gunock.lyriccast.activities.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LyricCast.Light.NoActionBar" />

        <activity
            android:name=".activities.CategoryManagerActivity"
            android:label="@string/label_categories"
            android:parentActivityName="pl.gunock.lyriccast.activities.CategoryManagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LyricCast.Light.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="pl.gunock.lyriccast.cast.CastOptionsProvider" />
    </application>

</manifest>