<?xml version="1.0" encoding="utf-8"?><!--
  ~ Created by Tomasz Kiljanczyk on 26/12/2022, 17:04
  ~ Copyright (c) 2022 . All rights reserved.
  ~ Last modified 26/12/2022, 17:02
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="LockedOrientationActivity">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.LyricCastApplication"
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_lyriccast"
        android:label="@string/app_name"
        android:theme="@style/Theme.LyricCast.DarkActionBar">

        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="pl.gunock.lyriccast.shared.cast.CastOptionsProvider" />

        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.LyricCast.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.setlist_editor.SetlistEditorActivity"
            android:label="@string/title_setlist_editor"
            android:parentActivityName="pl.gunock.lyriccast.ui.setlist_editor.SetlistEditorActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.LyricCast.NoActionBar" />

        <activity
            android:name=".ui.song_editor.SongEditorActivity"
            android:label="@string/title_song_editor"
            android:parentActivityName="pl.gunock.lyriccast.ui.song_editor.SongEditorActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.LyricCast.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.song_controls.SongControlsActivity"
            android:label="@string/title_controls"
            android:parentActivityName="pl.gunock.lyriccast.ui.song_controls.SongControlsActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.LyricCast.NoActionBar" />

        <activity
            android:name=".ui.setlist_controls.SetlistControlsActivity"
            android:label="@string/title_controls"
            android:parentActivityName="pl.gunock.lyriccast.ui.setlist_controls.SetlistControlsActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.LyricCast.NoActionBar" />

        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/title_settings"
            android:parentActivityName="pl.gunock.lyriccast.ui.settings.SettingsActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.LyricCast.NoActionBar" />

        <activity
            android:name=".ui.category_manager.CategoryManagerActivity"
            android:label="@string/title_categories"
            android:parentActivityName="pl.gunock.lyriccast.ui.category_manager.CategoryManagerActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.LyricCast.NoActionBar" />
    </application>

</manifest>